* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
main {
	width: 70%;
    padding: 50px;
	margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 100px ;
}

h1 {
	width: 100%;	
	text-align:center;
	font-size: 96px;
}
 
.photo {
	width: calc(45% - 45px);
	height: calc((70vh) / 16 * 9);
	background-color: darkred;
	margin: 30px;
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
	transition: all 1.5s ease;
}   

.photo:hover {
	transform: rotate(-10deg) scale(1.4);
 	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 1.4);
 }

.photo1 {
	background-image: url(1007.jpg);
}
.photo2 {
	background-image: url(1008.jpg);
}
.photo3 {
	background-image: url(1009.jpg);
}
.photo4 {
	background-image: url(1.jpg);
}
.photo5 {
	background-image: url(/2.webp);
} 
.photo6 {
	background-image: url(28.jpg);
} 
.photo7 {
	background-image: url(3.jpg);
}
.photo8 {
	background-image: url(4.jpg);
}
.photo9 {
	background-image: url(5.jpg);
}
.photo10 {
	background-image: url(6.jpg);
}
.photo11 {
	background-image: url(7.webp);
}
.photo12 {
	background-image: url(8.jpg);
}
